<div class="myseries-frame">
<h1>Mes Séries TV</h1>
<div class="row">
        <app-myseries
        [title]="serie.title" 
        [image]="serie.image" 
        [date]="serie.date"
        [genres]="serie.genres"
        [country]="serie.country"
        [season]="serie.season"
        [seasonV]="serie.seasonV"
        [rating]="serie.rating"
        [network]="serie.network"
        [summary]="serie.summary"
        [id]="serie.id"
        *ngFor="let serie of series let i= index"
        ></app-myseries>        
</div>
</div>

