<div class="card border-primary mb-3" style="max-width: 20rem;">
    <div class="card-header">{{name}}</div>
    <div class="card-body">
        <img src="{{image}}" alt="Card image">
      <h4 class="card-title"> -- {{genre}} -- {{premiered}}</h4>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>