
  <slide>
  <img class="img-fluid"src="{{media}}">
  <div class="text-hover">
    <h1>{{title}}</h1>
    <p class="lead text-left">{{text}}</p>
    <a class="btn btn-lg btn-primary" href="{{link}}" role="button">Plus d'infos</a>
  </div>
</slide>

