<div class="jumbotron">
    <h1 class="display-3">{{serie.title}}</h1>
    <img src="">
    <hr class="my-4">
    <p class="lead">{{serie.summary}}</p>
    <p class="lead">
      <a class="link" routerLink=""><i class="fas fa-home"></i></a>
    </p>
  </div>