<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1>
      <a class="navbar-brand" routerLink="">I Watch to Much TV</a>
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="news">News</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="search">Chercher une série</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="myseries">Mes Séries</a>
        </li>
      </ul>
    </div>
  </nav>
</header>