<div class="card myseries-card mb-3" style="width: 15rem;">
  <img src="{{image}}" class="card-img-top" alt="{{title}} image">
  <div class="card-body">
    <h3 class="card-title">{{title}}</h3>
    <h5>{{network}} -- {{country}}</h5>
    <h6 class="card-subtitle text-muted">Première diffusion : {{ date | date: 'dd/MM/yyyy'}}</h6>
    <p>Saisons : {{season}}</p>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 50%" aria-valuenow="" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="card-body">
    <a routerLink="serie/{{id}}" class="card-link">Détails</a>
    <a href="#" class="card-link">Ajouter un épisode</a>
  </div>
</div>