<form [formGroup]="searchForm" (ngSubmit)="onSubmitForm()">
  <input type="search" placeholder="Search" name="search"
   formControlName ="search" aria-label="Search">
  <button class="btn" type="submit" [disabled]="">Search</button>
</form>
<app-search-result>
</app-search-result>