<div class="jumbotron text-center">
  <h1 class="display-3">404 Page Not Found</h1>
  <p class="lead"> Are you lost ?</p>
  <p>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/KTu8iDynwNc?rel=0&amp;controls=0&amp;showinfo=0&amp;start=5" 
      frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" routerLink="" role="button">Retour à l'acceuil</a>
  </p>
</div>